
ul.button:hover {
    background-color: #88B061;
    color: #d14836;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.button {
	border: 1px solid #88B061;
   background: #88B061;
   
   -moz-border-radius: 15px;
  -webkit-border-radius: 15px;

   color: white;
   font: 16px verdana;
   text-decoration: none;
   vertical-align: middle;
}
.button:hover {
   border-top-color: #88B061;
   background: #88B061;
   color: #ffffff;
   -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
   }
.button:active {
   border-top-color: #88B061;
   background: #88B061;
   -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
   }